# Обновление:
numpy>=1.26
scikit-learn>=1.3
nltk>=3.8

# Базовые зависимости
numpy
scikit-learn
rich
pdfminer.six
PyPDF2

# Для TTS / речи (по желанию)
pyttsx3
pyaudio
vosk

# Для логирования и консольного интерфейса
loguru